<style>
  
  nav{
    background-color: rgb(255, 255, 255);
    position: fixed;
    box-shadow: 0 1px 10px grey;
    height: 10vh;
    z-index: 1000;
    position: fixed;
  }
  nav i{
    font-size: 2.5vmax;
    margin: 0 1vmax;
  }
</style>

<nav class="navbar navbar-expand-lg py-3 px-5">
  <div class="container">
    <a class="navbar-brand fw-bold fs-1 text-primary" href="/home">facebook</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link fs-6 mx-2 my-auto" aria-current="page" href="/home"><i class="ri-home-4-fill"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-6 mx-2 my-auto" href="/about"><i class="ri-bookmark-3-fill"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-6 mx-2 my-auto" href="/ownProfile"><i class="ri-account-circle-fill"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-6 mx-2 my-auto" href="/writePost"><i class="ri-edit-box-fill"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-6 mx-2 my-auto" href="/contact"><i class="ri-contacts-book-2-fill"></i></a>
      </li>
    </ul>
  </div>
</nav>